# ===========================
# IDE
# ===========================
.idea/
.vscode/
*.iml

# ===========================
# Operating System
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Frontend (nếu sau này dùng npm)
# ===========================
frontend/node_modules/
frontend/dist/
frontend/build/

# ===========================
# Logs
# ===========================
*.log